<div class="card card-body shadow w-75 mx-auto mt-5">
  <h1 class="text-center mt-3">Sorry, something happen...</h1>

  <div class="mt-4 text-center text-danger">
    <h2>Error Code: {{statusCode}}</h2>
    <h4>{{message}}</h4>
  </div>

  <p class="lead mt-4">
    <a href="/" class="btn btn-secondary w-100">Back</a>
  </p>
</div>